$quote: 'rock_saltregular';
$messageHeight: 2.15em;
$person: 'proxima_novaextrabold';
$personReg: 'proxima_nova_rgregular';
$white: #FFFFFF;

$tablet: 768px;

.c-testimonials__wrapper {
  padding: 0 1.5em;
  @media (min-width: $tablet) {
    padding: 0;
  }
  &--nudge-down {
    transform: translateY(100px);
  }
}

.c-testimonials {
  
}
  .c-testimonials__slide {
    box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.08);
    height: 474px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    &--01 {
      background-image:url('../../images/mobile-testimonial-1-large.jpg');
    }
    &--02 {
      background-image:url('../../images/mobile-testimonial-2-large.jpg');
    }
    @media (min-width: $tablet) {
      height: 500px;
      &--01 {
        background-image:url('../../images/testimonial-1-large.jpg');
      }
      &--02 {
        background-image:url('../../images/testimonial-2-large.jpg');
      }
    }
  }
    .c-testimonials__message-center {
      height: 100%;
      display: flex;
    
      @media (min-width: $tablet) {
        align-items: center;
        padding: 2em;
      }
    }
      .c-testimonials__message {
        margin-top: auto;
        padding: 0 1.5em;
        height: 225px;
        @media (min-width: $tablet) {
          height: inherit;
          width: 35%;
          margin: 12em 3em 0 auto;
        }
      }
        .c-testimonials__quote {
          font-size: .85em;
          font-family: $quote;
          color: $white;
          line-height: $messageHeight;
          @media (min-width: $tablet) {
            font-size: 1em;
          }
        }
        .c-testimonials__person {
          font-family: $person;
          color: $white;
          &--reg {
            font-family: $personReg;
          }
        }