$font: 'proxima_novaextrabold';
$tablet: 768px;

.c-what-you-love {

}
  .c-what-you-love__wrapper {
    border: red solid 1px;
    padding: 2.5em 0;
    @media (min-width: $tablet) {
      padding: 2.5em 3em;
    }
  }
    .c-what-you-love__title {
      font-family: $font;
      text-align: center;
      font-size: 2.15em;
      margin-top: 0;
    }
    .c-what-you-love__form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media (min-width: $tablet) {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }
    }
      .c-what-you-love__message {
        font-family: $font;
        &--only-mobile {
          display: none;
          @media (min-width: $tablet) {
            display: block;
          }
        }
      }
      .c-what-you-love__select {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 1.45em;
        @media (min-width: $tablet) {
          margin-bottom: 0;
        }
      }
      .c-what-you-love__search {
        display: flex;
        justify-content: center;
      }