@font-face {
    font-family: 'font_awesome_5_brandsregular';
    src: url('../../fonts/font_awesome_5_brands-regular-400-webfont.woff2') format('woff2'),
         url('../../fonts/font_awesome_5_brands-regular-400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font_awesome_5_freeregular';
    src: url('../../fonts/font_awesome_5_free-regular-400-webfont.woff2') format('woff2'),
         url('../../fonts/font_awesome_5_free-regular-400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font_awesome_5_freesolid';
    src: url('../../fonts/font_awesome_5_free-solid-900-webfont.woff2') format('woff2'),
         url('../../fonts/font_awesome_5_free-solid-900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontawesomeregular';
    src: url('../../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rock_saltregular';
    src: url('../../fonts/rocksalt-webfont.woff2') format('woff2'),
         url('../../fonts/rocksalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novablack';
    src: url('../../fonts/proximanova-black-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgbold_italic';
    src: url('../../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../../fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight';
    src: url('../../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('../../fonts/proximanova-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../../fonts/proximanova-regitalic-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-regitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../../fonts/proximanova-regularitalic-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('../../fonts/proximanova-semibolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/proximanova-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}